@use "./palette.scss" as palette;

.bs-button-green,
.bs-button-blue,
.bs-button-red,
.bs-button-orange,
.bs-button-teal {
	border-radius: 0.1em;
	border: none;
	box-shadow: 0 0 0.2em palette.$input-shadow-colour;
	color: palette.$button-text-colour;
	cursor: pointer;
	font-size: 0.9rem;
	font-weight: bold;
	padding: 0.5rem;
	transition: 0.2s;

	&:hover {
		box-shadow: 0 0.1em 0.4em palette.$input-shadow-colour;
	}
}

.bs-button-green {
	background-color: palette.$colour-green;
}

.bs-button-blue {
	background-color: palette.$colour-blue;
}

.bs-button-red {
	background-color: palette.$colour-red;
}

.bs-button-orange {
	background-color: palette.$colour-orange;
}

.bs-button-teal {
	background-color: palette.$colour-teal;
}
