@use "./variables.scss" as variables;

@each $colour, $value in variables.$colours {
	.bs-button-#{$colour} {
		background-color: $value;
		border-radius: 0.1em;
		border: none;
		box-shadow: 0 0 0.2em #0005;
		color: #f8f8f8;
		cursor: pointer;
		font-size: 0.9rem;
		font-weight: bold;
		padding: 0.5rem;
		transition: 0.2s;

		&:hover {
			box-shadow: 0 0.1em 0.4em #0005;
		}
	}
}
