@use "./variables.scss" as variables;
@use "sass:map";

.bs-card {
	background-color: #37393f;
	border-radius: 0.3em;
	box-shadow: 0 0.5em 1em #0005;
	color: map.get(variables.$colours, "white");
	display: grid;
	gap: 0.5em;
	grid-template-columns: 1fr 1fr;
	padding: 2em;
	position: relative;
}
