.bs-divider-line {
	$or-margin: 2em;

	background-color: #37393f;
	font-size: 0.8em;
	font-weight: bold;
	margin: 1rem 0;
	opacity: 0.5;
	text-align: center;
	user-select: none;

	&::before,
	&::after {
		content: "";
		display: block;
		background-color: #f0f0f0;
		height: 1px;
		width: calc(50% - $or-margin);
	}

	&::before {
		transform: translate(0, 0.6em);
	}

	&::after {
		margin-left: calc(50% + $or-margin);
		transform: translate(0, -0.6em);
	}
}
