$colour-blue: #61afef;
$colour-green: #98c379;
$colour-orange: #e5c07b;
$colour-red: #e06c75;
$colour-teal: #56b6c2;

$button-text-colour: #f8f8f8;
$card-colour: #37393f;
$card-shadow-colour: #0005;
$input-shadow-colour: #0005;
$text-colour: #f0f0f0;
